<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.vault.com.myvault">

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainAppTheme"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.AllData"
            android:theme="@style/ALlAppTheme" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SignAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.AddNewRecord"
            android:screenOrientation="portrait"
            android:theme="@style/ALlAppTheme"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".Activities.ShowPasssword"
            android:screenOrientation="portrait"
            android:theme="@style/ToolAppTheme" />
        <activity android:name=".Activities.DeleteDataActivity"></activity>

    </application>

</manifest>